$color-black-light: rgb(24, 23, 23);
$color-grey-light: rgb(253, 252, 250);
$color-grey-light-1: rgb(241, 238, 237);
$color-grey-light-2: #efefef;
$color-grey-light-3: #dddddd;
$color-grey-dark: rgb(109, 109, 109);
$color-grey-dark-2: rgb(92, 91, 91);
$color-grey: rgb(163, 163, 163);