@import "variables";
@import "base";
@import "typography";

// Header/Navbar //
.header {
  background-color: #000;
  height: 5rem;
  position: relative;
  &-logo {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    font-size: 2.5rem;
  }
}

.meta-article {
  background-color: orangered;
}